/* app css stylesheet */
.at-content {
  height: 100%; }

.at-row {
  text-align: center; }

.at-box {
  display: inline-block;
  width: 30%;
  height: 30%; }

.at-seeker {
  background-color: red; }

.at-provider {
  background-color: grey; }
